<?php
    include '../../../common/include/common.php';
?>

<div class='row-fluid' id="top">

	

	<?php $group = 'Test extra docs group name'; ?>

	<section class="span4">
		<aside class="well">
			<a href="index"><h4><i class='fa fa-chevron-left'></i> Back to Tool Docs Index</h4></a>
		</aside>
		<aside class="well">
			<h2>Categories</h2>
        <style>
            #sidenav .accordion-body a {
                color : gray;
            }

            .accordion-body li {
                list-style : none;
            }
        </style>
        <ul class="nav nav-pills nav-stacked" id="sidenav">
        		<hr>
        		<hr>
        		<hr>
						<li><a data-toggle="collapse" data-parent="#sidenav" href="#Testextradocsgroupname">Test extra docs group name</a>
							<div id="Testextradocsgroupname"
								<?php echo ($group == 'Test extra docs group name')? 'class="accordion-body collapse in"'.chr(62) : 'class="accordion-body collapse"'.chr(62);?>
								<ul>
											<li>
												<a href="org_broadinstitute_barclay_help_TestExtraDocs.html">TestExtraDocs</a>
											</li>
								</ul>
							</div>
						</li>
						<li><a data-toggle="collapse" data-parent="#sidenav" href="#Testfeaturegroupname">Test feature group name</a>
							<div id="Testfeaturegroupname"
								<?php echo ($group == 'Test feature group name')? 'class="accordion-body collapse in"'.chr(62) : 'class="accordion-body collapse"'.chr(62);?>
								<ul>
											<li>
												<a href="org_broadinstitute_barclay_help_TestArgumentContainer.html">TestArgumentContainer</a>
											</li>
								</ul>
							</div>
						</li>
        		<hr>
        </ul>
		</aside>
		<?php getForumPosts( 'TestExtraDocs' ) ?>

	</section>

	<div class="span8">

			<h1>TestExtraDocs **BETA**</h1>

		<p class="lead">Class for testing extraDocs property in docgen.</p>

			<h3>Category
				<small> Test extra docs group name</small>
			</h3>
		<hr>
		<h2>Overview</h2>
		Class for testing extraDocs property in docgen.




        <hr>
        <p><a href='#top'><i class='fa fa-chevron-up'></i> Return to top</a></p>
        <hr>
        <p class="version">Barclay version 11.1 built at 2016/01/01 01:01:01.
        </p>

	</div>

	<?php printFooter($module); ?>